#about-container {
	color: #ddb892;
	font-family: 'itim';
  }
  
  #about-body {
	padding: 5vw;
	margin-top: 10vh;
  }
  
  h2 {
	font-size: 1.5em;
  }

  h3 {
	font-size: 1em;
  }
  
  .icon-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(5vw, 1fr)); /* Adjust as needed */
	grid-gap: 2vw; /* Adjust the gap between icons */
	list-style: none;
	padding: 0;
  }
  
  .icon-grid li {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .svgIcons {
	height: 3vw;
	width: 3vw;
  }
  