#contact-container {
	color: #ddb892;
	height: 100%;
	width: 100%;
}

.contactForm {
	font-family: 'itim';
	padding:2vw;
	margin-bottom: 4vh;
	margin-top: 25vh; /* Adjust the top margin to push the form above the map */

	form {
		input, textarea {
			margin:0.4vw;
			width: 40vw;
			padding:0.6vw;
			border: 2px solid #ddb892;
			border-radius: 1vw;
			font-family: 'itim';
			font-size: 0.6em;
			color: #ddb892;
			background-color: transparent;
			resize: none;
			&::placeholder {
			color: #ddb892; /* Light brown color */
		}

		textarea {
			resize: none;
		}

		input[name='name'],
		input[name='email']{
			width:40vw;
		}
	}

		input[type='submit'] {
			width: 6vw;
			padding: 0.5vw;
			border: 2px solid #ddb892;
			border-radius: 1vw;
			font-family: 'itim';
			font-size: 0.6em;
			color: #ddb892;
			background-color: transparent;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s, border-color 0.3s;
			background-color: #ddb892; /* Match the theme color */
			color: #ede0d4;
			&::placeholder {
				color: #ddb892; /* Light brown color */
			}
			&:hover {
				background-color: #9c6644; /* Match the theme color */
				border-color: #9c6644; /* Match the theme color */
			}
		}
	}
}

  
  
	#map {
		position: absolute;
		bottom: 2vw; /* Adjusted position */
		left: 0px; /* Adjust the left offset as needed */
		right: 0px;
		height: 10vw;
		border-radius: 2vw;
		z-index: 1;
	}

	.success-popup {
		position: absolute;
		font-size: 0.6em;
		left: 50%;
		top: 40%;
		transform: translateX(-50%);
		background-color: rgba(0, 0, 0, 0.8);
		color: white;
		padding: 1vh 2vw;
		border-radius: 5px;
		z-index: 1000;
	}

	@media screen and (max-width: 768px) {
	  
		.contactForm form input,
		.contactForm form textarea {
		  margin: 0.5vw; /* Adjust margin */
		  width: 80vw; /* Set width to fill most of the screen */
		  padding: 2.5vw; /* Adjust padding */
		  font-size: 0.8em; /* Increase font size */
		  border-radius: 3vw;
		}
	  
		.contactForm form input[type='submit'] {
		  width: 20vw; /* Set submit button width */
		  padding: 1vw; /* Adjust padding */
		  font-size: 0.8em; /* Increase font size */
		  border-radius: 3vw;
		}

		#map{
			bottom:0;
			height:20vh;
		}
	  }
	  