nav, .navbar-container{
	background: #7F5539;
	height: 100%;
	width: 100px;
	position:fixed;
	right:0px;
	z-index: 4;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#navbar-icons {
	width: 100px;
	padding-left: 0;
    list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center
}

li {
	width: 100px;
	text-align: center;
}