

.App {
  text-align: center;
}

.App-header {
  background-color: #7F5539;
  height: 100%;
  width: 50%;
  position:fixed;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'coffeecake';
  src: url('./assets/fonts/coffecake/CoffeCake.ttf') format('truetype');
}

@font-face {
  font-family: 'Patrick_Hand';
  src: url('./assets/fonts/Patrick_Hand/PatrickHand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Itim';
  src: url('./assets/fonts/Itim/Itim-Regular.ttf') format('truetype');
}

.title {
  font-size: 6vw;
  position: fixed;
  top: 3vh;
  left: 3vw;
  margin:0;
  font-family: 'coffeecake';
  color: #ddb892;
}

#cover{
	position:fixed;
	margin-right:-100vw;
	z-index:0;
	height:100vh;
	width: 50vw;
	background-color: #7F5539;
  }