#map { 
	min-height: 180px;
	min-width:400px;
	z-index: 11;
}

.leaflet-container{
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 10;
	animation:backInRight 1s 1.2s;
	animation-fill-mode: forwards;
	z-index: 11;
}

.leaflet-pane{
	width: 100%;
	height: 100%;
	z-index: 11;
}

.leaflet-control-container{
	width: 100%;
	height: 50vh;
	z-index: 11;
}