#banner {
    background-color: #ddb892;
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed; /* Use fixed positioning */
    right: 10%;
    z-index: 2;
}

.links {
    text-decoration: none;
}

.links:visited {
    color: #ddb892; /* Darker brown color */
}

.social-icons {
    font-family: 'Patrick_Hand';
}

#topCake {
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #9c6644;
    z-index: 4;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
}

.social-icons {
    display: flex;
    align-items: center;
}

#github-icon,
#linkedin-icon {
    margin-right: 5px;
    margin-left: 5px;
}

#github {
    margin-left: auto + 100px;
    margin-right: auto; /* Push to the left */
}

#linkedin {
    margin-left: auto ; /* Push to the right */
    margin-right:auto;
}


#bannerBody {
    padding: 250px 100px 100px 50px;
    margin: 0;
    background-color: #ddb892;
    z-index: 2;
    // align-items: center;
    // position: relative;
    // display: flex;
    // flex-direction: column;
}

#bannerText {
    font-size: 50px;
    font-family: 'coffeecake';
    color: #9c6644;
    margin-left:100px;
    text-align: right;
}

#contactButton {
    padding: 10px 0px 10px 0px;
    font-size: 30px;
    font-family: 'coffeecake';
    color: #9c6644;
    transition: background-color 0.3s ease;
    position: relative;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top:150px;
    margin-left: 0px;
    margin-right: auto;
}

#contactButton:hover {
    border-radius: 24px;
    border: 2px solid #9c6644;
    background-color: #9c6644; /* Match the theme color */
    color: #fff;
}

#view-resume-link {
    position: absolute;
    bottom: 0px; /* Adjust as needed */
    right: 0px;
}

#resumeIcon {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    bottom: -26px; /* Adjust as needed */
    right: 235px; /* Adjust as needed */
    z-index: 1;
}

#cakeBase {
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #9c6644;
    z-index: 4;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
}

#resume-link {
    text-decoration: none;
}

#resume-button {
    font-family: 'Patrick_Hand', cursive;
    margin-left:100px;
    color: #ddb892; /* Match the theme color */
    text-decoration: none;
    font-size: 18px;
    padding: 0px 8px;
    border: 3px solid #ddb892; /* Match the theme color */
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
    background-color: transparent;
}

#resume-button:hover {
    background-color: #ddb892; /* Match the theme color */
    color: #fff;
}
