@import url('../../App.scss');

#banner {
    background-color: #ddb892;
    width: 45%;
    height: 100%;
    position: fixed; /* Use fixed positioning */
    right: 100px;
    z-index: 2;
}

#downloadIcon{
	width: 50px;
	display:inline-block;
}

#banner-name {
    font-size: 100px;
    font-family: 'coffeecake';
    margin: 0;
    top: 50px;
    align-items: center;
    position: relative;
}

h2{
    font-family: 'Rancho';
}

a{
    font-family:'Patrick_Hand';
    // font-family:'Itim';
}