#banner {
    background-color: #ddb892;
    width: 50%;
    height: 100%;
    position: fixed; /* Use fixed positioning */
    top: 100px;
    right: 0;
    z-index: 2;
}

#downloadIcon{
	width: 50px;
	display:inline-block;
}

h1 {
	font-family: 'skincake';	
}